/** GERAL ************************/
@keyframes piscar {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
@keyframes upDown {
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}
body,html, main{
    height: 100%;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    color: black;
}
.anaglyph {
    text-shadow: -0.03em 0 0 red, 0.03em 0 0 cyan;
}
.efeito-vidro{
    background: rgba(255, 255, 255, 0.090);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba(255, 255, 255, 0.014);
}
/** MENU ****/
header{
    background-color: rgba(0, 0, 0, 0.904);
    border-bottom: solid 1px rgba(58, 58, 58, 0.904);
}
.navbar-nav a:hover{
    color: #F25790 !important;
    border-bottom: solid #F25790;
    transition: color 0.7s;
}
.navbar-nav .active{
    border-bottom: solid #F25790;
}
/** MAIN ***********************/
main{
    background: url(./img/plano-de-fundo5.jpg);
    background-attachment: fixed;
}
/** SECTIONS ***************************/
.bg-escuro{
    background-color: #2e2e2e;
}
section{
    color: white;
    min-height: 50vh;
    padding: 20px 0px;
    background-color: #313030;
}
section h2{
    color: #F25790;
    margin-top: 30px !important;
}
.btn{
    max-width: max-content;
    color: white;
    border: 2px solid white;
}
.btn:hover{
    transform: scale(1.1) !important;
    background-color: #F2AEE7;
    transition: all 0.4s linear;
}
/** INICIO *****************************/
#inicio{
    background: none;
    height: 100%;
    color: white;
    border-bottom: 1px solid #151515;
}
#inicio .container{
    height: 100%;
}
#inicio p{
    font-size: 2rem;
}
#apresentacao{
    padding: 10%;
    justify-content: space-around;
}
#apresentacao h1::after{
    content: "|";
    animation: piscar 700ms infinite;
}
#saiba-mais{
    margin-bottom: 20px;
}
#saiba-mais a{
    height: 100%;
    color: white;
    text-decoration: none;
}
#saiba-mais a:hover{
    color: #F2AEE7;
    transition: all 0.3s linear;
}
#saiba-mais i{
    font-size: 1.8rem;
    animation: upDown 900ms infinite alternate;
}
/** SOBRE **************************************/
#sobre a{
    width: fit-content;
}
#sobre p{
    letter-spacing: 1px;
    font-size:  max(1rem , 1vw);
}
/** habilidades ******************************/
#habilidades img{
    display: flex ;
    margin: 10px;
    max-height: 110px;
    max-width: 110px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
.icone{
    display: flex;
    filter: grayscale(100%);
}
.icone:hover{
    filter: grayscale(0%);
    cursor:pointer; 
    transition: all 0.4s linear; 
}
#area-icones{
    padding: 20px 0px;
    min-height: 32vh; 
}
#area-icones .row{
    margin: 0px 10px;
}
.icone-color{
    filter: grayscale(0%) !important;
}
#habilidades .progress-bar{
    background-color: #F25790;
}
p#titulo{
    transition: all 0.8s linear !important;
}
/** Projetos ******************************/

/** Contato ******************************/
.carousel-control-next , .carousel-control-prev{
    width: 8%;
}
.carousel{
    margin-top: 20px;
    padding: 10px 8%;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    background: rgba(224, 44, 110, 0.671);
    opacity: 1;
    transition: all 0.5s linear;
}
.card img{
    max-height: 262px;
}
.card{
    font-size: min(3vw , 1rem);
}